{% include base_path %}

<!-- start custom head snippets -->

<!-- here is the favicon stuff. Add more lines here if more favicons are needed. -->
<link rel="shortcut icon" type="image/x-icon" href="{{ base_path }}/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/images/favicon-16.png">
<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- and my CSP: -->
<meta http-equiv="Content-Security-Policy"
      content="default-src 'self';
               img-src 'self';
               script-src 'self' https://cdnjs.* https://www.google-analytics.com/* 'unsafe-inline';
               style-src 'self' 'unsafe-inline';">

<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
