{% include base_path %}

<!-- start custom head snippets -->

<!-- here is the favicon stuff. Add more lines here if more favicons are needed. -->
<link rel="shortcut icon" type="image/x-icon" href="{{ base_path }}/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/images/favicon-16.png">
<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- and my CSP: -->
<meta http-equiv="Content-Security-Policy"
      content="default-src 'self';
               img-src 'self';
               script-src 'self' cdnjs.cloudflare.com www.google-analytics.com 'unsafe-eval' 'unsafe-inline';
               style-src 'self' 'unsafe-hashes'
               'sha256-Z95yixzKt4wmliSDLQqUQ7jRoj2JFVlDivsPvT0+TR4=',
               'sha256-VLHVJSjwpKUPrYynAkYvB24zY/zZIADyMa8vPycMNgE=' 
               'sha256-anQSeQoEnQnBulZOQkDOFf+e6xBIGmqh7M8YFT992co=' 
               'sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU='
               'sha256-fGbXK7EYpvNRPca81zPnqJHi2y+34KSgAcZv8mhaSzI='
               'sha256-W21B506Ri8aGW3T87iawssPz71NvvbYZfBfzDbBSArU='
               'sha256-Z4u/cxrZPHjN20CIXZHTKr+VlqVxrWG8cbbeC2zmPqI='
               'sha256-LDMABiyg2T48kuAV9ouqNCSEqf2OkUdlZK9D9CeZHBs='
               'sha256-XQfwbaSNgLzro3IzkwT0uZLAiBvZzajo0QZx7oW158E='
               'sha256-AfOKQwsWbt2rnLZ+zVflDJhe7+AOTdQWDtDomQh+Qr0='
               'sha256-usF7NJCbuKpzl9w5i0UWagEpGasP7BLqKHGZHHzK3+Q='
               'sha256-+QSHKKOpeunRI5tHAq1ifGb47kviZVnRCA9z+5yG+cI='
               'sha256-Y9v1MZrln1N8aPBY5lmpxYKwFkcp/nyBMMEnn7WFjuw=' 
               'sha256-m7QXjx5P8LC/+VKnzxGQm9pFQ4ozYpEzbUeAyN5ySb4=';
               connect-src api.cdnjs.com;"> 
               <!-- last two hashes are for inline image formatting on fun things page; third-last is image on about page-->

               <!-- the first hash 'sha256-Z95yixzKt4wmliSDLQqUQ7jRoj2JFVlDivsPvT0+TR4=' is for the inline mathjax on Milnor cobordism talk page -->

<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- need this line for mobile accessibility; it improves the scaling experience on small screens -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
