---
layout: default
author_profile: false
---

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<meta http-equiv="Content-Security-Policy"
      content=" default-src 'self'; 
                form-action 'none'; 
                frame-ancestors 'none'; 
                style-src 'self'; 
                script-src 'self' cdnjs.com; 
                img-src 'self';">

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <h1 class="page__title">{{ page.title }}</h1>
    {% include base_path %}
    {% for post in page.posts %}
      {% include archive-single.html %}
    {% endfor %}
  </div>
</div>