---
layout: default
author_profile: false
---

Content-Security-Policy-Report-Only:
      default-src 'none'; 
      form-action 'none'; 
      frame-ancestors 'none'; 
      report-uri https://isabelprime.report-uri.com/r/d/csp/wizard;

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <h1 class="page__title">{{ page.title }}</h1>
    {% include base_path %}
    {% for post in page.posts %}
      {% include archive-single.html %}
    {% endfor %}
  </div>
</div>